<div class="user" [appSetBackgroudDirective]="index">
    <p [appFirstDirective]="'blue'" [backgroundColor]="'yellow'">
        <span>name: </span>
        <span>{{ user.name | toUppercase }}</span>
    </p>
    <p>
        <span>phone number: </span>
        <span>{{user.phone}}</span>
    </p>
    <p>
        <span>email: </span>
        <span>{{ user.email }}</span>
    </p>
    <!-- <p>{{ user | json }}</p> -->
    <!-- <p>{{ 32 | modulo: 5}}</p> -->
    <button (click)="onDeleteButtonClick()">!Delete!</button>
    <button (click)="onEditButtonClick()">Edit</button>
</div>
