<form [formGroup]="personFormGroup" (ngSubmit)="onSubmit()">

    <label class="label">
        <span class="labelName">Name</span>
        <input type="text" formControlName="name">
    </label>


    <label class="label">
        <span class="labelName">Surname</span>
        <input type="text" formControlName="surname">
    </label>

    <label class="label">
        <span class="labelName">Age</span>
        <input type="number" formControlName="age">
    </label>

    <label class="label">
        <span class="labelName">Password</span>
        <input type="password" formControlName="password">
    </label>

     <fieldset formGroupName="address"> <!--formGroupName to odwołanie do grupy w grupie -->
        <legend>Address</legend>
        <label class="label">
            <span class="labelName">City</span>
            <input type="text" formControlName="city">
        </label>

        <label class="label">
            <span class="labelName">Street</span>
            <input type="text" formControlName="street">
        </label>

        <label class="label">
            <span class="labelName">Postcode</span>
            <input type="text" formControlName="postcode">
        </label>

    </fieldset>

    <label class="label">
        <span class="labelName">e-mail</span>
        <input type="email" formControlName="email">
    </label>

    <label class="label">
        <span class="labelName">Phone number</span>
        <input type="text" formControlName="phoneNumber">
    </label>

    <label class="label">
        <span class="labelName">Do you agree for contact?</span>
        <input type="checkbox" formControlName="agreeForContact">
    </label>
    
    <fieldset>
        <legend>Do you exercise?</legend>
        <label class="label">
          <span class="label-name">Yes</span>
          <input type="radio" formControlName="isExercising" [value]="true">
        </label>
        <label class="label">
          <span class="label-name">No</span>
          <input type="radio" formControlName="isExercising" [value]="false">
        </label>
      </fieldset>

      <label class="label">
          <span class="labelName"> Your favourite sport: 
              <select formControlName="favouredSport">
                  <option value="soccer">Soccer</option>
                  <option value="volleyball">Volleyball</option>
                  <option value="is lazy bastard">TV watching</option>
              </select>
          </span>
      </label>

      <textarea formControlName="remarks" placeholder="Your remarks" cols="50" rows="10"></textarea>

    <button type="submit">send</button>

</form>